.box {
  color: rgb(144, 105, 239);
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 50px;
  height: 60px;
  margin: 10px 5px;
  text-align: center;
  width: 30%;
}

.box-container {
  background-color: #0fa36b;
  display: flex;

  /*
  flex-direction: row;
  flex-wrap: wrap;
  */
  flex-flow: row wrap;
}
