ul {
  text-align: center;
  padding: 0;
}

ul li {
  display: inline-block;
}

h1,
h3 {
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  width: 200px;
  display: block;
  margin: auto;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  width: 300px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  width: 300px;
}
