.container {
  display: flex;
  height: 50px;
  margin: auto;
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 1;
}

.one {
  background-color: rgb(251, 210, 106);
}

.two {
  background-color: rgb(250, 164, 136);
}

.three {
  background-color: rgb(144, 105, 239);
}

.four {
  background-color: #006472;
}
