.container {
  border: 1px solid black;
  display: flex;
  height: 300px;
  margin: auto;
  width: 500px;
}

.keep {
  align-self: center;
  background-color: #FAA488;
  display: flex;
  justify-content: center;
  width: 150px;
}

.change {
  align-self: center;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
}
