.box-one {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 70px;
  height: 80px;
  margin: 10px 5px;
  text-align: center;
  width: 50px;
}

.box-two {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 50px;
  height: 60px;
  margin: 10px 5px;
  text-align: center;
  width: 50px;
}

.box-three {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 30px;
  margin: 10px 5px;
  height: 50px;
  text-align: center;
  width: 50px;
}

.box-container {
  background-color: #0fa36b;
  display: flex;
  align-items: center;
}