/* PARTE 1 */
h1 {
  font-family: sans-serif, Helvetica;
}

/* PARTE 2, 4, 5 */
p {
  font-weight: 600;
  font-size: 3em;
}

/* PARTE 3 */
body {
  font-size: 16px;
}

li {
  font-size: 2em;
  font-style: italic;
  line-height: 60px;
  text-align: center;
  text-decoration: underline;
}

/* PARTE 6 */
#yellow { background-color: yellow; }

#red { background-color: red; }

#brown { background-color: brown; }
