.container {
  border: 1px solid black;
  display: flex;
  height: 50px;
  margin: auto;
  width: 500px;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 125px;
}

.one {
  background-color: #FBD26A;
  display: flex;
  order: 4;
}

.two {
  background-color: #FAA488;
  display: flex;
  order: 3;
}

.three {
  background-color: #9069EF;
  display: flex;
  order: 2;
}

.four {
  background-color: #006472;
  display: flex;
  order: 1;
}