.container {
  border: 1px solid black;
  display: flex;
  height: 50px;
  margin: auto;
  width: 500px;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 125px;
}

.one {
  background-color: rgb(251, 210, 106);
  display: flex;
  order: 4;
}

.two {
  background-color: rgb(250, 166, 137);
  display: flex;
  order: 3;
}

.three {
  background-color: rgb(144, 105, 239);
  display: flex;
  order: 2;
}

.four {
  background-color: #006472;
  display: flex;
  order: 1;
}
