      /* PARTE 1 */ 
      h1 {
        font-family: sans-serif;
      }
      /* PARTE 2, 4, 5*/ 
      p {
        font-weight: 600;
        font-size: 48px;
        font-style: normal;
        line-height: 50px;
        text-align: center;
        text-decoration: line-through;
      }
      /* PARTE 3 */ 
      body {
        font-size: 16px;
      }
      /* PARTE 6 */ 
      .yellow {
        background-color: yellow;
      }
      .red {
        background-color: red;
      }
      .brown {
        background-color: brown;
      }