ol li {
  background-color: yellow;
}
li:nth-child(even) {
  color: green;
}
li:nth-child(odd) {
  text-transform: uppercase;
}

h1, h2 {
  color: red;
}
h1 em, h2 em {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}
li em {
  font-weight:bold
}
li:nth-child(-n+3){
  background-color: blue;
}
li[value*="java"]{
  background-color: pink;
}