html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: lightblue;
  margin: 16px
}

p {
  padding: 0 5px;
  line-height: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
}
