body {
  margin: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  body {
    background-color: lightcoral;
    font-family: sans-serif;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: lightgreen;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
  }

  aside, header {
    margin-left: 24px;
    flex-basis: 200px;
    flex-grow: 1;
  }
}