html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font: 1.2em/1.2 Helvetica, aria, sans-serif;
  margin: 0 3%;
}

h1 {
  font-size: 1.8em;
  margin: .9em 0 0 0;
}
h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
}

img {
    max-width: 100%;
}

figure {
  margin: 24px 0;
}

@media screen and (min-width: 794px) {
  body {
    background-color: red;
    font-size: 16px;
    margin: 24px 6%
  }
  figure {
    float: left;
    width: 45%;
    margin-right: 4.5%;
  }
}

@media screen and (min-width: 1020px) {
  body {
    background-color: blue;
    margin: 25px 10%;
    font-size: 14px;
    max-width: 1130px;
  }
}