.container {
  display: flex;
  height: 50px;
  margin: auto;
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 500px;
  flex-grow: 0;
  flex-shrink: 1;
}

.one {
  background-color: #FBD26A;
  display: flex;
  flex-shrink: 1;
}

.two {
  background-color: #FAA488;
  display: flex;
  flex-shrink: 2;
}

.three {
  background-color: #9069EF;
  display: flex;
  flex-shrink: 3;
}

.four {
  background-color: #006472;
  display: flex;
  flex-shrink: 4;
}