.container {
  display: flex;
  height: 50px;
  margin: auto;
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 500px;
  flex-grow: 0;
  flex-shrink: 1;
}

.one {
  background-color: rgb(251, 210, 106);
  display: flex;
  flex-shrink: 1;
}

.two {
  background-color: rgb(250, 164, 136);
  display: flex;
  flex-shrink: 2;
}

.three {
  background-color: rgb(141, 103, 239);
  display: flex;
  flex-shrink: 3;
}

.four {
  background-color: rgb(0, 100, 114);
  display: flex;
  flex-shrink: 4;
}
