body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-pokemons {
  padding: 0;
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  color: rgb(250, 250, 250);
  background-color: rgb(28 158 86);
  display: flex;
  margin: 8px;
  width: 250px;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  max-width: 400px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.poke-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poke-info > * {
  margin: 5px 0;
}
