img {
  width: 200px;
}
#mario-gomba {
  display: inline-flex;
  flex-direction: column;
}
#text-baloon {
  display: inline-block;
  position: relative;
}
#word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

#baloon-bowser {
  display: inline-flex;
  align-items: flex-start;
}